<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div text-center>
        <img src="../../assets/road.png">
    </div>
    <form #f="ngForm" (ngSubmit)="login()">
    <ion-card>
        <ion-card-content>
            
            <ion-item>
              <!-- <ion-icon name="mail"></ion-icon> -->
                <ion-label floating>Email</ion-label>
                <ion-input type="email"  name="email" [(ngModel)]="userEmail" required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"></ion-input>
            </ion-item>

            <div padding *ngIf="email.invalid && email.dirty">
                <span class="global__input-error">Email is requierd and format should be like <i>john@doe.com</i></span>
            </div>
            
            <ion-item>
                <!-- <ion-icon name="lock"></ion-icon> -->
                <ion-label floating>Password</ion-label>
                <ion-input type="password" name="password" [(ngModel)]="userPassword" required #password="ngModel"></ion-input>
            </ion-item>

            <div padding *ngIf="password.invalid && password.dirty">
                <span class="global__input-error">Password is requierd</span>
            </div>

            <ion-row id="login-button">
                <div>
                    <button ion-button color="secondary" type="submit" [disabled]="f.invalid">Login</button>
                </div>
            </ion-row>     
        </ion-card-content>
    </ion-card>
</form>
</ion-content>