<ion-header>

  <ion-navbar color="primary" *ngIf="load">
    <ion-title>Load # {{load.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="load">
  <ion-list no-lines>
    <ion-item>

      <ion-item *ngIf="statusModalReturned; else noStatusUpdate">
          <div>
              <ion-icon name="bookmark" color="title" item-start></ion-icon>
              Status: {{status}}
              <button ion-button class="create-add-button"><ion-icon name="build" (click)="showStatusModal()"></ion-icon></button>
          </div>
      </ion-item>

      <ng-template #noStatusUpdate>
        <ion-item>
          <div>
              <ion-icon name="bookmark" color="title" item-start></ion-icon>
              Status: {{status}}
              <button ion-button class="create-add-button"><ion-icon name="build" (click)="showStatusModal()"></ion-icon></button>
          </div>
        </ion-item>
      </ng-template>

      <ion-item *ngIf="truckModalReturned; else noTruckUpdate">
        <div>
            <ion-icon name="speedometer" color="title" item-start></ion-icon>
            Truck {{truck.number}}
            <button ion-button class="create-add-button" (click)="showTruckModal()"><ion-icon name="build"></ion-icon></button>
        </div>

      </ion-item>
      <ng-template #noTruckUpdate>
        <ion-item>
          <div>
              <ion-icon name="speedometer" color="title" item-start></ion-icon>
              Truck {{truck.number}}
              <button ion-button class="create-add-button" (click)="showTruckModal()"><ion-icon name="build"></ion-icon></button>
          </div>
        </ion-item>
      </ng-template>

      <ion-item *ngIf="driverModalReturned; else noDriverUpdate">
        <div>
            <ion-icon name="person" color="title" item-start></ion-icon>
            Driver {{driver.name}}
            <button ion-button class="create-add-button" (click)="showDriverModal()"><ion-icon name="build"></ion-icon></button>
        </div>
        <br>
        <div>
            <ion-icon name="call" color="title" item-start></ion-icon>
            Ph. {{driver.phone}}
        </div>
        <br>
        <div>
          <ion-icon name="mail" color="title" item-start></ion-icon>
          Email {{driver.email}}
        </div>
          
      </ion-item>

      <ng-template #noDriverUpdate>
        <ion-item>
          <div>
            <ion-icon name="person" color="title" item-start></ion-icon>
            Driver {{driver.name}}
            <button ion-button class="create-add-button" (click)="showDriverModal()"><ion-icon name="build"></ion-icon></button>
          </div>
          <br>
          <div>
            <ion-icon name="call" color="title" item-start></ion-icon>
            Ph. {{driver.phone}}
          </div>
          <br>
          <div>
            <ion-icon name="mail" color="title" item-start></ion-icon>
            Email {{driver.email}}
          </div>
      </ion-item> 
      </ng-template>

    </ion-item>


    <ion-item>
      <ion-card>
        <ion-card-header>
            <ion-icon name="map" color="title" item-start></ion-icon>
              Pickup Details
        </ion-card-header>
        <ion-card-content>
          
          <ion-item>
              <div>
                  <ion-icon name="calendar" color="title" item-start></ion-icon>
                  {{pickup.date}}
                  <button ion-button class="create-add-button" (click)="showPickupDateModal()"><ion-icon name="build"></ion-icon></button>
              </div>
              <div>
                  <ion-icon name="time" color="title" item-start></ion-icon>
                  {{pickup.time}}
              </div>
          </ion-item>

          <ion-list>
            <ion-item *ngIf="shipperModalReturned; else noShipperUpdate">
                <ion-icon  name="pin" color="title"></ion-icon>
                <button ion-button class="create-add-button" (click)="showShipperModal()"><ion-icon name="build"></ion-icon></button>
                <br>
                <div>
                    <ion-icon item-start></ion-icon>
                    <ion-icon item-start></ion-icon>
                    {{shipper.name}}
                    <br>
                    <ion-icon item-start></ion-icon>
                    <ion-icon item-start></ion-icon>
                    {{shipper.address}}
                    <br>
                    <ion-icon item-start></ion-icon>
                    <ion-icon item-start></ion-icon>
                    {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                </div>
            </ion-item>
            <ng-template #noShipperUpdate>
                <ion-item>
                    <ion-icon  name="pin" color="title"></ion-icon>
                    <button ion-button class="create-add-button" (click)="showShipperModal()"><ion-icon name="build"></ion-icon></button>
                    <br>
                    <div>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{shipper.name}}
                        <br>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{shipper.address}}
                        <br>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                    </div>
                </ion-item>
            </ng-template>
          </ion-list>
        </ion-card-content>
      </ion-card>
   </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-icon name="map" color="title" item-start></ion-icon>
          Delivery Details
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <div>
                    <ion-icon name="calendar" color="title" item-start></ion-icon>
                    {{delivery.date}}
                    <button ion-button class="create-add-button" (click)="showDeliveryDateModal()"><ion-icon name="build"></ion-icon></button>
                </div>
                <div>
                    <ion-icon name="time" color="title" item-start></ion-icon>
                    {{delivery.time}}
                </div>
            </ion-item>

            <ion-list>
              <ion-item *ngIf="receiverModalReturned, else noReceiverUpdate">
                  <ion-icon  name="pin" color="title"></ion-icon>
                  <button ion-button class="create-add-button" (click)="showReceiverModal()"><ion-icon name="build"></ion-icon></button>
                  <br>
                  <div>
                      <ion-icon item-start></ion-icon>
                      <ion-icon item-start></ion-icon>
                      {{receiver.name}}
                      <br>
                      <ion-icon item-start></ion-icon>
                      <ion-icon item-start></ion-icon>
                      {{receiver.address}}
                      <br>
                      <ion-icon item-start></ion-icon>
                      <ion-icon item-start></ion-icon>
                      {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                  </div>
              </ion-item>

              <ng-template #noReceiverUpdate>
                <ion-item>
                    <ion-icon  name="pin" color="title"></ion-icon>
                    <button ion-button class="create-add-button" (click)="showReceiverModal()"><ion-icon name="build"></ion-icon></button>
                    <br>
                    <div>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{receiver.name}}
                        <br>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{receiver.address}}
                        <br>
                        <ion-icon item-start></ion-icon>
                        <ion-icon item-start></ion-icon>
                        {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                    </div>
                </ion-item>
              </ng-template>
            </ion-list>
        </ion-card-content>
      </ion-card>         
    </ion-item>
    
  </ion-list>
  <button ion-button class="create-save-button" color="secondary" (click)="updateLoad()">Save</button>
</ion-content>
