<ion-header>

  <ion-navbar color="primary">
    <ion-title>Load # {{load.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>

      <ion-item>
          <div>
              <ion-icon name="bookmark" item-start></ion-icon>
              Status: {{load.status}}
              <button ion-button class="create-add-button"><ion-icon name="build"></ion-icon></button>
          </div>
      </ion-item>

      <ion-item *ngIf="truckModalReturned; else noTruckAdded">
        <div>
            <ion-icon name="speedometer" item-start></ion-icon>
            Truck {{truck.number}}
            <button ion-button class="create-add-button" (click)="showTruckModal()"><ion-icon name="build"></ion-icon></button>
        </div>

      </ion-item>
      <ng-template #noTruckAdded>
        <ion-item>
          <div>
              <ion-icon name="speedometer" item-start></ion-icon>
              Truck {{truck.number}}
              <button ion-button class="create-add-button" (click)="showTruckModal()"><ion-icon name="build"></ion-icon></button>
          </div>
        </ion-item>
      </ng-template>

      <ion-item *ngIf="driverModalReturned; else noDriverAdded">
        <div>
            <ion-icon name="person" item-start></ion-icon>
            Driver {{driver.name}}
            <button ion-button class="create-add-button" (click)="showDriverModal()"><ion-icon name="build"></ion-icon></button>
        </div>
        <br>
        <div>
            <ion-icon name="call" item-start></ion-icon>
            Ph. {{driver.phone}}
        </div>
        <br>
        <div>
          <ion-icon name="mail" item-start></ion-icon>
          Email {{driver.email}}
        </div>
          
      </ion-item>

      <ng-template #noDriverAdded>
        <ion-item>
          <div>
            <ion-icon name="person" item-start></ion-icon>
            Driver {{driver.name}}
            <button ion-button class="create-add-button" (click)="showDriverModal()"><ion-icon name="build"></ion-icon></button>
          </div>
          <br>
          <div>
            <ion-icon name="call" item-start></ion-icon>
            Ph. {{driver.phone}}
          </div>
          <br>
          <div>
            <ion-icon name="mail" item-start></ion-icon>
            Email {{driver.email}}
          </div>
      </ion-item> 
      </ng-template>

    </ion-item>


    <ion-item>
      <ion-card>
        <ion-card-header>
            <ion-icon name="map" item-start></ion-icon>
              Pickup Details
        </ion-card-header>
        <ion-card-content>
          <ion-item>
              <div>
                  <ion-icon name="calendar" item-start></ion-icon>
                  {{pickup.date}}
                  <button ion-button class="create-add-button" (click)="showPickupDateModal()"><ion-icon name="build"></ion-icon></button>
              </div>
              <div>
                  <ion-icon name="time" item-start></ion-icon>
                  {{pickup.time}}
              </div>
          </ion-item>
          <ion-list>
            <ion-item *ngIf="shipperModalReturned; else noShipperAdded">
              {{shipper.name}}
              <br>
              {{shipper.address}}
              <br>
              {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
              <button ion-button class="create-add-button" (click)="showShipperModal()"><ion-icon name="build"></ion-icon></button>
            </ion-item>
            <ng-template #noShipperAdded>
                <ion-item>
                    {{shipper.name}}
                    <br>
                    {{shipper.address}}
                    <br>
                    {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                    <button ion-button class="create-add-button" (click)="showShipperModal()"><ion-icon name="build"></ion-icon></button>
                </ion-item>
            </ng-template>
          </ion-list>
        </ion-card-content>
      </ion-card>
   </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-icon name="map" item-start></ion-icon>
          Delivery Details
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <div>
                    <ion-icon name="calendar" item-start></ion-icon>
                    {{delivery.date}}
                    <button ion-button class="create-add-button" (click)="showDeliveryDateModal()"><ion-icon name="build"></ion-icon></button>
                </div>
                <div>
                    <ion-icon name="time" item-start></ion-icon>
                    {{delivery.time}}
                </div>
            </ion-item>

            <ion-list>
              <ion-item *ngIf="receiverModalReturned, else noReceiverAdded">
                {{receiver.name}}
                <br>
                {{receiver.address}}
                <br>
                {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                <button ion-button class="create-add-button" (click)="showReceiverModal()"><ion-icon name="build"></ion-icon></button>
              </ion-item>

              <ng-template #noReceiverAdded>
                <ion-item>
                    {{receiver.name}}
                    <br>
                    {{receiver.address}}
                    <br>
                    {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                    <button ion-button class="create-add-button" (click)="showReceiverModal()"><ion-icon name="build"></ion-icon></button>
                </ion-item>
              </ng-template>
            </ion-list>
        </ion-card-content>
      </ion-card>         
    </ion-item>
    
  </ion-list>
  <button ion-button class="create-save-button" color="secondary" (click)="updateLoad()">Save</button>
</ion-content>
