<ion-header>
    
  <ion-navbar color="primary">
    <ion-title>Add Receiver</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeReceiverModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
    
    
<ion-content padding>

  <ion-buttons *ngIf="createToggle; else showAltAddButton">
      <button ion-button  (click)="createToggle = !createToggle" class="driver-toggle-button">
        <div>
          <ion-icon name="build"></ion-icon>
          Create New Receiver
        </div>
      </button>
  </ion-buttons>
  <ng-template #showAltAddButton>
      <button ion-button  (click)="createToggle = !createToggle" class="driver-toggle-button">
          <div>
            <ion-icon name="add-circle"></ion-icon>
            Add Existing Receiver
          </div>
      </button>
  </ng-template>
  
  <div *ngIf="createToggle; else showForm">
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <ion-list no-lines>
      <ion-card *ngFor="let receiver of receivers">
        <ion-card-content>
          <ion-item >
            <div (click)="addExistingReceiver(receiver)">
                  {{receiver.name}} 
                  <br>
                  {{receiver.address}}
                  <br>
                  {{receiver.city}},  {{receiver.state}} {{receiver.zipCode}}
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
    </ion-list>
  </div>

  <ng-template #showForm>
    <div>
      <form #f="ngForm" novalidate (ngSubmit)="addNewReceiver()">
        <ion-card>
          <ion-card-content>

              <ion-item>
                  <ion-label floating>Name</ion-label>
                  <ion-input type="text" [formControl]="receiverNameConfirmControl" [(ngModel)]="receiverName" required minLength="5"></ion-input>
              </ion-item>
    
              <div padding *ngIf="receiverNameConfirmControl.invalid && (receiverNameConfirmControl.dirty || receiverNameConfirmControl.touched)">
                  <span class="global__input-error">Name is required (minimum of 5 characters).</span>
              </div>

              <div padding *ngIf="receiverNameMatch">
                  <span class="global__input-error">That name is already assigned to another receiver, please correct it.</span>
              </div>


              <ion-item>
                  <ion-label floating>Address</ion-label>
                  <ion-input type="text" [formControl]="receiverAddressConfirmControl" [(ngModel)]="receiverAddress" required pattern=""></ion-input>
              </ion-item>
  
              <div padding *ngIf="receiverAddressConfirmControl.invalid && (receiverAddressConfirmControl.dirty || receiverAddressConfirmControl.touched)">
                  <span class="global__input-error">Please provide a proper fromat with building number first and street name second</span>
              </div>

              <div padding *ngIf="receiverAddressMatch">
                  <span class="global__input-error">That address is already assigned to another receiver</span>
              </div>

              <ion-item>
                  <ion-label floating>City</ion-label>
                  <ion-input type="text" name="city" [(ngModel)]="receiverCity" required #city="ngModel"></ion-input>
              </ion-item>
  
              <div padding *ngIf="city.invalid && (city.dirty || city.touched)">
                  <span class="global__input-error">City is required</span>
              </div>
  
              <!-- <div padding *ngIf="driverEmailMatch">
                  <span class="global__input-error">This email is already taken</span>
              </div> -->

            <ion-item>
                <ion-label floating>State</ion-label>
                <ion-input type="text" name="state" [(ngModel)]="receiverState" required #state="ngModel" maxLength ="2"pattern="[A-Z][A-Z]"></ion-input>
            </ion-item>

            <div padding *ngIf="state.invalid && (state.dirty || state.touched)">
                <span class="global__input-error">State must be in this format CA</span>
            </div>

            <ion-item>
                <ion-label floating>Zip</ion-label>
                <ion-input type="text" name="zip" [(ngModel)]="receiverZipCode" required #zip="ngModel" minLength="5" maxLength="5" pattern="[0-9][0-9][0-9][0-9][0-9]"></ion-input>
            </ion-item>

            <div padding *ngIf="zip.invalid && (zip.dirty || zip.touched)">
                <span class="global__input-error">Zip Code should be 5 digits</span>
            </div>

            <button ion-button color="secondary" type="submit" [disabled]="f.invalid || receiverAddressMatch || receiverNameMatch" class="global__modal-add-button">Add</button>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </ng-template>

</ion-content>
    
    
