<ion-header>
    
  <ion-navbar color="primary">
    <ion-title>Add Shipper</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeShipperModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
    
    
<ion-content padding>

  <ion-list no-lines *ngIf="createToggle; else showAltAddButton">
    <ion-item>
        <button ion-button  (click)="createToggle = !createToggle">
            <ion-icon color="title" item-start name="build"></ion-icon>
            <!-- <ion-icon item-start></ion-icon>        -->
                Create New Shipper
        </button>
    </ion-item>
  </ion-list>
  <ng-template #showAltAddButton>
      <ion-list no-lines>
        <ion-item>
            <button ion-button  (click)="createToggle = !createToggle">
                <ion-icon color="title" item-start name="add-circle"></ion-icon>
                <!-- <ion-icon item-start></ion-icon>        -->
                Add Existing Shipper
            </button>
        </ion-item>
      </ion-list> 
  </ng-template>
  
  <div *ngIf="createToggle; else showForm">
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <ion-list no-lines>
      <ion-card *ngFor="let shipper of shippers">
        <ion-card-content>
          <ion-item (click)="addExistingShipper(shipper)">
            <ion-icon  name="pin" color="title"></ion-icon>
            <br>
            <div>
                <ion-icon item-start></ion-icon>
                <ion-icon item-start></ion-icon>
                {{shipper.name}}
                <br>
                <ion-icon item-start></ion-icon>
                <ion-icon item-start></ion-icon>
                {{shipper.address}}
                <br>
                <ion-icon item-start></ion-icon>
                <ion-icon item-start></ion-icon>
                {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
    </ion-list>
  </div>

  <ng-template #showForm>
    <div>
      <form #f="ngForm" novalidate (ngSubmit)="addNewShipper()">
        <ion-card>
          <ion-card-content>

              <ion-item>
                  <ion-label floating>Name</ion-label>
                  <ion-input type="text" [formControl]="shipperNameConfirmControl" [(ngModel)]="shipperName" required  pattern="[0-9?A-z]+\\s?[0-9?A-z]+\\s?[0-9?A-z]+\\s?\\w+"></ion-input>
              </ion-item>
    
              <div padding *ngIf="shipperNameConfirmControl.invalid && (shipperNameConfirmControl.dirty || shipperNameConfirmControl.touched)">
                  <span class="global__input-error">Name is required (minimum of 5 characters) and cannot have special characters.</span>
              </div>

              <div padding *ngIf="shipperNameMatch">
                  <span class="global__input-error">That name is already assigned to another shipper, please correct it.</span>
              </div>


              <ion-item>
                  <ion-label floating>Address</ion-label>
                  <ion-input type="text" [formControl]="shipperAddressConfirmControl" [(ngModel)]="shipperAddress" required pattern="[0-9]+\\s[A-z]+\\s[A-z]+\\s?[A-z]+\\s?[A-z]+"></ion-input>
              </ion-item>
  
              <div padding *ngIf="shipperAddressConfirmControl.invalid && (shipperAddressConfirmControl.dirty || shipperAddressConfirmControl.touched)">
                  <span class="global__input-error">Please provide a proper fromat with building number first and street name second. Do not use any special characters.</span>
              </div>

              <div padding *ngIf="shipperAddressMatch">
                  <span class="global__input-error">That address is already assigned to another shipper</span>
              </div>

              <ion-item>
                  <ion-label floating>City</ion-label>
                  <ion-input type="text" name="city" [(ngModel)]="shipperCity" required #city="ngModel" pattern="[0-9A-z]+\\s?[0-9A-z]+?"></ion-input>
              </ion-item>
  
              <div padding *ngIf="city.invalid && (city.dirty || city.touched)">
                  <span class="global__input-error">City is required and cannot have any special characters.</span>
              </div>

            <ion-item>
                <ion-label floating>State</ion-label>
                <ion-input type="text" name="state" [(ngModel)]="shipperState" required #state="ngModel" maxLength="2" pattern="[A-Z]{2}"></ion-input>
            </ion-item>

            <div padding *ngIf="state.invalid && (state.dirty || state.touched)">
                <span class="global__input-error">State must be in this format CA</span>
            </div>

            <ion-item>
                <ion-label floating>Zip</ion-label>
                <ion-input type="text" name="zip" [(ngModel)]="shipperZipCode" required #zip="ngModel" minLength="5" maxLength="5" pattern="\\d{5}"></ion-input>
            </ion-item>

            <div padding *ngIf="zip.invalid && (zip.dirty || zip.touched)">
                <span class="global__input-error">Zip Code should be 5 digits</span>
            </div>

            <button ion-button color="secondary" type="submit" [disabled]="f.invalid || shipperAddressMatch || shipperNameMatch" class="global__modal-add-button">Add</button>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </ng-template>

</ion-content>
    
    
