<ion-header>

  <ion-navbar color="primary" *ngIf="load">
    <ion-title >Load # {{load.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="load">
    <ion-buttons end>
        <button ion-button (click)="callDriver()" color="secondary" *ngIf="!browser">
            <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button (click)="emailDriver()" color="secondary">
                <ion-icon name="mail"></ion-icon>
            </button>
        <button ion-button (click)="showLoadDownlaodPage()" color="secondary" *ngIf="imagesLoaded; else disabledButton">
            <ion-icon name="download"></ion-icon>
        </button>
        <ng-template #disabledButton>
            <button ion-button disabled="true" color="secondary">
                <ion-icon name="download"></ion-icon>
            </button>
        </ng-template>
        <button ion-button  (click)="showLoadEditPage()" color="secondary">
                <ion-icon name="build"></ion-icon>
        </button>
        <button ion-button (click)="deleteLoad()" color="danger">
                <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>
    <ion-list no-lines>
        <ion-item>
            <div>
                <ion-icon name="bookmark" color="title" item-start></ion-icon>
                Status: {{load.status}}
            </div>
        </ion-item>
        
        <ion-item *ngFor="let truck of trucks">
            <div>
                <ion-icon name="speedometer" color="title" item-start></ion-icon>
                Truck: {{truck.number}}
            </div>
        </ion-item>

        <ion-item>
            <div>
                <ion-icon name="person" color="title" item-start></ion-icon>
                Driver {{load.driver.name}}  
            </div>
            <br>
            <div>
                <ion-icon name="call" color="title" item-start></ion-icon>
                Ph. {{load.driver.phone}}
            </div>
            <br>
            <div>
                <ion-icon name="mail" color="title" item-start></ion-icon>
                Email {{load.driver.email}}
            </div>  
        </ion-item>

        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map" color="title" item-start></ion-icon>
                    Pickup Details
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <div>
                            <ion-icon name="calendar" color="title" item-start></ion-icon>
                            {{load.pickupDate}}
                        </div>
                        <div>
                            <ion-icon name="time" color="title" item-start></ion-icon>
                            {{load.pickupTime}}
                        </div>
                    </ion-item>
                    <ion-list>
                        <ion-item *ngFor="let shipper of shippers">
                            <ion-icon  name="pin" color="title"></ion-icon>
                            <br>
                            <div>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{shipper.name}}
                                <br>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{shipper.address}}
                                <br>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                                </div>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>

        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map" color="title" item-start></ion-icon>
                    Delivery Details
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <div>
                            <ion-icon name="calendar" color="title" item-start></ion-icon>
                            {{load.deliveryDate}}
                        </div>
                        <div>
                            <ion-icon name="time" color="title" item-start></ion-icon>
                            {{load.deliveryTime}}
                        </div>
                    </ion-item>
                    <ion-list>
                        <ion-item *ngFor="let receiver of receivers">
                            <ion-icon  name="pin" color="title"></ion-icon>
                            <br>
                            <div>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{receiver.name}}
                                <br>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{receiver.address}}
                                <br>
                                <ion-icon item-start></ion-icon>
                                <ion-icon item-start></ion-icon>
                                {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
