<ion-header>

  <ion-navbar color="primary">
    <ion-title>Load # {{load.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-buttons end>
        <button ion-button  (click)="showLoadEditPage()">
                <ion-icon name="build"></ion-icon>
        </button>
        <button ion-button (click)="deleteLoad()" color="danger">
                <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>
    <ion-list no-lines>
        <ion-item>
            <div>
                <ion-icon name="bookmark" item-start></ion-icon>
                Status: {{load.status}}
            </div>
        </ion-item>
        
        <ion-item *ngFor="let truck of trucks">
            <div>
                <ion-icon name="speedometer" item-start></ion-icon>
                Truck: {{truck.number}}
            </div>
        </ion-item>

        <ion-item>
            <div>
                <ion-icon name="person" item-start></ion-icon>
                Driver {{load.driver.name}}  
            </div>
            <br>
            <div>
                <ion-icon name="call" item-start></ion-icon>
                Ph. {{load.driver.phone}}
            </div>
            <br>
            <div>
                <ion-icon name="mail" item-start></ion-icon>
                Email {{load.driver.email}}
            </div>  
        </ion-item>

        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map" item-start></ion-icon>
                    Pickup Details
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <div>
                            <ion-icon name="calendar" item-start></ion-icon>
                            {{load.pickupDate}}
                        </div>
                        <div>
                            <ion-icon name="time" item-start></ion-icon>
                            {{load.pickupTime}}
                        </div>
                    </ion-item>
                    <ion-list>
                        <ion-item *ngFor="let shipper of shippers">
                            {{shipper.name}}
                            <br>
                            {{shipper.address}}
                            <br>
                            {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>

        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map" item-start></ion-icon>
                    Delivery Details
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <div>
                            <ion-icon name="calendar" item-start></ion-icon>
                            {{load.deliveryDate}}
                        </div>
                        <div>
                            <ion-icon name="time" item-start></ion-icon>
                            {{load.deliveryTime}}
                        </div>
                    </ion-item>
                    <ion-list *ngFor="let receiver of receivers">
                        <ion-item>
                            {{receiver.name}}
                            <br>
                            {{receiver.address}}
                            <br>
                            {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
