<ion-header>

  <ion-navbar color="primary">
    <ion-title>Load # {{load.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-buttons end>
        <button ion-button  (click)="showLoadEditPage()">
                <ion-icon name="build"></ion-icon>
        </button>
        <button ion-button (click)="deleteLoad()" color="danger">
                <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>
    <ion-list no-lines>
            <ion-item *ngFor="let truck of trucks">
            <ion-icon name="speedometer"></ion-icon>
            Truck: {{truck.number}}
        </ion-item>

        <ion-item>
            <div>
                <ion-icon name="person"></ion-icon>
                Driver {{load.driver.name}}  
            </div>
            <br>
            <div>
                <ion-icon name="call"></ion-icon>
                Ph. {{load.driver.phone}}
            </div>
            <br>
            <div>
                <ion-icon name="mail"></ion-icon>
                Email {{load.driver.email}}
            </div>  
        </ion-item>

        <ion-item *ngFor="let shipper of shippers">
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map"></ion-icon>
                    Shipper
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            {{shipper.name}}
                            <br>
                            {{shipper.address}}
                            <br>
                            {{shipper.city}}, {{shipper.state}} {{shipper.zipCode}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>

        <ion-item *ngFor="let receiver of receivers">
            <ion-card>
                <ion-card-header>
                    <ion-icon name="map"></ion-icon>
                    Receiver
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            {{receiver.name}}
                            <br>
                            {{receiver.address}}
                            <br>
                            {{receiver.city}}, {{receiver.state}} {{receiver.zipCode}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
